html, div, p, h1 ,h2 ,h3{
    margin: 0px;
    color:white
}
body{
    background-image: url(img/dark-background.jpg);
}
.cnt{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.head{
    border: 1px solid white;
    margin: 0px;
}
.loop{
    height: 37px;
    position:absolute;
    top: 9px;
    right: 10px;
}
.stick{
    position:sticky;
    top:15px
}
button{
    color: white;
    background-color: #4b4b4b;
    width: 80px;
    height: 50px;
    border-radius: 5px;
}
.video{
    display: flex;
    justify-content: center;
}